.Stock-Card{
    display: flex;
    flex-direction: column;
    gap : 5px;
    margin : 10px;
    align-items: center;
    background-color: silver;
    border-radius: 10px;
    padding : 10px;
}

.Stock-Card-Submit
{
    width : 80%;
    height : 30px;
    border-radius : 5px;
    border-style: none;
}

.Stock-Card-Input
{
    width : 80%;
    height : 30px;
    border-radius : 5px;
    border-style : none;
}